<div class="container">
    <div class="login">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="heading">
                    <h4 class="title text-center ">
                        התחברות למערכת
                    </h4>
                    <p class="sub-title text-center">
                        אין לך חשבון? <a href="">לחץ להרשמה </a>
                    </p>
                </div>
                <div>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="*שם החברה" name="">
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="*שם החברה" name="">
                    </div>
                </div>
                <div class="text-center mt-5">
                    <button type="button" class="btn btn-primary">שלח</button>
                </div>
            </div>
        </div>
    </div>
</div>