<div class="container">
    <div class="login">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="heading">
                    <h4 class="title text-center ">
                        התחברות למערכת
                    </h4>
                    <p class="sub-title text-center">
                        אין לך חשבון? <a href="">לחץ להרשמה </a>
                    </p>
                </div>
                <div>
                    <div class="input-group">
                        <div class="w-100">
                            <div class="field-container">
                                <input class="field-input" id="inputid" name="inputName" type="text"
                                    placeholder="דוא״ל">
                                <label class="field-placeholder" for="inputName">דוא״ל</label>
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="w-100">
                            <div class="field-container">
                                <input class="field-input" id="inputid" name="inputName" type="password"
                                    placeholder="סיסמה" autofocus="none">
                                <label class="field-placeholder" for="inputName">סיסמה</label>
                            </div>
                        </div>
                    </div>
                    <p class="text-left forgot-p" (click)="openPopup()">
                        שכחתי סיסמא
                    </p>
                </div>
                <div class="text-center mt-5">
                    <button type="button" class="btn btn-primary">כניסה</button>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #propertyDetailsModal class="demo">
    <h4 class="modal-title-header text-center" id="modal-basic-title">Profile update</h4>
    <app-modal (isCloseModal)="closeModalEvent($event)">
       <p>Welcome</p>
    </app-modal>
</ng-template>