.login {
  background-color: #fff;
  border-radius: 8px;
  padding: 70px 80px;
  box-shadow: 0px 0px 7px 2px rgb(212 209 227 / 30%);
  margin-top: 50px;
  .heading {
    .title {
      color: #0d204c;
      font-weight: 700;
    }
    .sub-title {
      color: #324267;
      font-weight: 500;

      a {
        color: #324267;
        font-weight: 700;
        text-decoration: underline;
      }
    }
  }
  .information {
    margin: 30px 0px 60px;
  }
}
.forgot-p {
  color: #0d204c;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
}
.modal-title-header {
  background: linear-gradient(162.51deg, #7ca3f7 -76.98%, #244ca8 181.51%);
  border-radius: 20px 20px 0 0;
  padding: 20px 0;
  color: #fff;
}
.property-modal {
  max-width: 500px;
}

.input-group {
  margin: 30px 0 0;
  @media screen and (max-width: 575px) {
    margin: 15px 0 0;
  }
  .form-control {
    padding: 9px 16px;
    height: calc(2.5em + 0.75rem + 2px);
    border-radius: 10px;
  }
}
