<div class="container">
    <div class="login">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="heading">
                    <h4 class="title text-center ">
                        התחברות למערכת
                    </h4>
                    <p class="sub-title text-center">
                        אין לך חשבון? <a href="signup" class="mr-1">לחץ להרשמה </a>
                    </p>
                </div>
                <form [formGroup]="loginForm">
                    <div class="input-group" [ngClass]="{'error': loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || isInvalidForm)}">
                        <div class="w-100">
                            <div class="field-container">
                                <input class="field-input" id="emnail" name="inputName" type="text"
                                    placeholder="דוא״ל" formControlName="email">
                                <label class="field-placeholder" for="inputName">דוא״ל</label>
                            </div>
                        </div>
                        <div class="error-message" *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || isInvalidForm)">
                            <img class="ml-2" src="assets/images/info-icon-red.svg" alt=""/><span>הודעת שגיאה</span></div>
                    </div>
                    <div class="input-group" [ngClass]="{'error' :loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || isInvalidForm)}">
                        <div class="w-100">
                            <div class="field-container">
                                <input class="field-input" id="password" name="password" type="password"
                                    placeholder="סיסמה" formControlName="password">
                                <label class="field-placeholder" for="password">סיסמה</label>
                            </div>
                        </div>
                        <div class="error-message"  *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || isInvalidForm)">
                            <img class="ml-2" src="assets/images/info-icon-red.svg" alt=""/><span>הודעת שגיאה</span></div>
                    </div>
                    <p class="text-left forgot-p" (click)="openPopup()">
                        שכחתי סיסמא
                    </p>
                    <div class="text-center mt-5">
                        <button type="submit" class="btn btn-primary" (click)="loginFormSubmit()">כניסה</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <p class="text-center">
        לא מצליח להתחבר? <span class="open-modal-popup mr-1" (click)="contactPopup()"> לחץ כאן</span>
    </p>
</div>

<!--Modal forgot-password -->
<ng-template #propertyDetailsModal>
    <h4 class="modal-title-header text-center" id="modal-basic-title"> שכחתי סיסמה </h4>
    <app-modal (isCloseModal)="closeModalEvent($event)">
        <div class="forgot-password">
            <p class="text-center weight-400">מיד נשלח אליה קישור ליצירת סיסמה חדשהנא למלא את כתובת המייל איתה נרשמת
                לאתר.
            </p>
            <div class="input-group">
                <div class="w-100">
                    <div class="field-container">
                        <input class="field-input" id="inputid" name="inputName" type="text" placeholder="דוא״ל">
                        <label class="field-placeholder" for="inputName">דוא״ל</label>
                    </div>
                </div>
            </div>
            <div class="text-center mt-5">
                <button type="button" class="btn btn-primary" (click)="changePassword()">המשך</button>
            </div>
        </div>
    </app-modal>
</ng-template>

<!--Modal change Password -->
<ng-template #changePasswordModal>
    <h4 class="modal-title-header text-center" id="modal-basic-title"> שכחתי סיסמה </h4>
    <app-modal (isCloseModal)="closeModalEvent($event)">
        <div class="change-password">
            <p>שלחנו לך הודעה לכתובת המייל</p>
            <p class="weight-700">email@gmail.com</p>
            <p>לחידוש הסיסמה יש להיכנס לקישור</p>
            <p class="mt-5"> לא קיבלתי <span class="open-modal-popup mr-1" (click)="sendSgainPopup()"> שלחו שוב </span> </p>
            <div class="text-center mt-5">
                <button type="button" class="btn btn-primary">חזרה לעמוד הבית</button>
            </div>
        </div>
    </app-modal>
</ng-template>

<!--Modal Send again email -->
<ng-template #sendAgainModal>
    <h4 class="modal-title-header text-center" id="modal-basic-title"> חידוש סיסמה </h4>
    <app-modal (isCloseModal)="closeModalEvent($event)">
        <div class="forgot-password">
            <div class="input-group mt-0">
                <div class="w-100">
                    <div class="field-container">
                        <input class="field-input" id="inputid" name="inputName" type="text" placeholder="סיסמה חדשה">
                        <label class="field-placeholder" for="inputName">סיסמה חדשה</label>
                    </div>
                </div>
            </div>
            <div class="input-group">
                <div class="w-100">
                    <div class="field-container">
                        <input class="field-input" id="inputid" name="inputName" type="text" placeholder="אימות סיסמה">
                        <label class="field-placeholder" for="inputName">אימות סיסמה</label>
                    </div>
                </div>
            </div>
            <ul class="renewal-details">
                <li> סיסמה תכיל מ- 7 תווים לפחות </li>
                <li>הסיסמה לא תכיל בתוכה את הערך שב - ״שם פרטי״ או ״שם משפחה״</li>
                <li>הסיסמה תכיל צירוף של 3 מתוך 4 קטגוריות הבאות:
                    <br/> אותיות לועזיות גדולות, אותיות לועזיות קטנות, ספרות, תוים מיוחדים
                </li>
            </ul>
            <div class="text-center mt-5">
                <button type="button" class="btn btn-primary" (click)="popupForgot()">המשך</button>
            </div>
        </div>
    </app-modal>
</ng-template>

<!--Modal forgot  -->
<ng-template #forgotPopupModal>
    <h4 class="modal-title-header text-center" id="modal-basic-title"> שכחתי סיסמה </h4>
    <app-modal (isCloseModal)="closeModalEvent($event)">
        <div class="forgot">
            <p class="tatle">החלצהב התנוש המסיס</p>
            <p class="sub-title weight-700">תוסנל תעכ ןתינ החלצהב התנוש ךתמסיס
                תכרעמל בוש רבחתהלו</p>
            <div class="text-center mt-5">
                <button type="button" class="btn btn-primary" (click)="popupWrong()"> המשך</button>
            </div>
        </div>
    </app-modal>
</ng-template>

<!--Modal wrong forgot -->
<ng-template #wrongPopupModal>
    <h4 class="modal-title-header text-center" id="modal-basic-title"> שכחתי סיסמה </h4>
    <app-modal (isCloseModal)="closeModalEvent($event)">
        <div class="forgot">
            <p class="tatle"> סליחה, משהו השתבש</p>
            <p class="sub-title weight-700">יש לנסות מאוחר יותרלא הצלחנו לחדש את סיסמתך,</p>
            <div class="text-center mt-5">
                <button type="button" class="btn btn-primary"> חזרה לעמוד הבית</button>
            </div>
        </div>
    </app-modal>
</ng-template>

<!-- --Modal contact-us  -- -->
<ng-template #contactPopupModal>
    <h4 class="modal-title-header text-center" id="modal-basic-title"> צור קשר </h4>
    <app-modal (isCloseModal)="closeModalEvent($event)">
        <div class="contact-us">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="w-100">
                            <div class="field-container">
                                <input class="field-input" id="inputid" name="inputName" type="text"
                                    placeholder="*שם פרטי">
                                <label class="field-placeholder" for="inputName">*שם פרטי</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="w-100">
                            <div class="field-container">
                                <input class="field-input" id="inputid" name="inputName" type="text"
                                    placeholder="*שם משפחה">
                                <label class="field-placeholder" for="inputName">*שם משפחה</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="w-100">
                            <div class="field-container">
                                <input class="field-input" id="inputid" name="inputName" type="text"
                                    placeholder="*מספר נייד">
                                <label class="field-placeholder" for="inputName">*מספר נייד</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="w-100">
                            <div class="field-container">
                                <input class="field-input" id="inputid" name="inputName" type="text"
                                    placeholder="*דוא״ל">
                                <label class="field-placeholder" for="inputName">*דוא״ל</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="input-group">
                        <div class="w-100">
                            <div class="field-container text-area">
                                <textarea rows='5' class="field-input" id="inputid" name="inputName" type="text"
                                    placeholder="טוריפ"></textarea>
                                <label class="field-placeholder" for="inputName">טוריפ</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-4">
                <button type="button" class="btn btn-primary">המשך</button>
            </div>
        </div>
    </app-modal>
</ng-template>