header {
    background: #5077cf; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #5077cf 0%, #466dc6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #5077cf 0%,#466dc6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #5077cf 0%,#466dc6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5077cf', endColorstr='#466dc6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    padding: 10px 30px;
    box-shadow: 0 0 10px rgba(0,0,0,.25);
    position: relative;
    @media screen and (max-width: 1199px) {
        padding: 10px 15px;
    }
    @media screen and (max-width: 767px) {
        background: linear-gradient(163.45deg, #7CA3F7 -86.15%, #244CA8 175.17%);
        &:not(.not-auth) {
            margin-bottom: 63px;
        }
    }
    .navbar {
        padding: 0;
        .navbar-brand {
            display: flex;
            align-items: center;
            max-width: 400px;
            width: 100%;
            @media screen and (max-width: 1280px) {
                max-width: 300px;
                font-size: 20px;
            }
            @media screen and (max-width: 1199px) {
                max-width: 270px;
                font-size: 20px;
            }
            @media screen and (max-width: 767px) {
                max-width: 200px;
                margin: 0 auto !important;
            }
            .logo-subtitle {
                color: #fff;
                margin: 0 30px 0 auto;
                font-size: 24px;
                @media screen and (max-width: 991px) {
                    margin-right: 15px;
                }
            }
            .mobile-logo {
                @media screen and (min-width: 768px) {
                    display: none;
                }
            }
            .desktop-logo {
                @media screen and (max-width: 767px) {
                    display: none;
                }
            }
        }
        .navbar-collapse {
            &:not(.show) {
                @media screen and (max-width: 767px) {
                    display: block !important;
                    right: -250px;
                }
            }
            @media screen and (max-width: 767px) {
                position: fixed;
                right: 0;
                top: 0;
                bottom: 0;
                display: block;
                width: 100%;
                max-width: 250px;
                z-index: 99999;
                background-color: #fff;
                transition: all 0.5s ease-in-out;
                align-items: flex-start;
                .navbar-nav {
                    display: block;
                }
            }
            .nav-link {
                padding: 10px 20px;
                color: #fff;                    
                @media screen and (max-width: 767px) {
                    color: #27303C;   
                    border-bottom: 1px solid #EBEEF2;    
                    padding: 15px 20px;             
                }
            }
        }
        .main-menu {
            background: #5077cf; /* Old browsers */
            background: -moz-linear-gradient(-45deg,  #5077cf 0%, #466dc6 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(-45deg,  #5077cf 0%,#466dc6 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(135deg,  #5077cf 0%,#466dc6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5077cf', endColorstr='#466dc6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            color: #fff;
            padding: 50px 20px 10px;
            display: flex;
            align-items: center;
            @media screen and (min-width: 768px) {
                display: none;
            }
            img {
                margin-left: 15px;
            }
        }
        .header-dropdown {
            .dropdown-toggle {
                color: #fff;
                border-color: #fff;
                border-radius: 30px;
                background-color: transparent !important;
                padding: 8px 20px;
                @media screen and (max-width: 767px) {
                    border: 0;
                    padding: 0;
                }
                &::after {
                    content: normal;
                }
                img {
                    vertical-align: middle;
                    margin-left: 5px;
                }
                span {
                    vertical-align: middle;
                    @media screen and (max-width: 767px) {
                        display: none;
                    }
                }
                .bi-chevron-down {
                    font-size: 14px;
                    margin-right: 5px;
                    position: relative;
                    z-index: 9999;
                    @media screen and (max-width: 767px) {
                        display: none !important;
                    }
                }
                &[aria-expanded="true"] {
                    .bi-chevron-down {
                        -moz-transform: rotate(180deg);
                        -webkit-transform: rotate(180deg);
                        transform: rotate(180deg);
                        display: inline-block;
                        color: #FFD492;
                    }
                    @media screen and (max-width: 767px) {
                        background-image: url('../../../assets/images/close-icon-white.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        img {
                            opacity: 0;
                        }
                    }
                }
                &:focus {
                    box-shadow: none;
                }
            }
            .dropdown-menu {
                min-width: 18rem;
                background: #3655ce; /* Old browsers */
                background: -moz-linear-gradient(top,  #3655ce 0%, #2747c2 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top,  #3655ce 0%,#2747c2 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom,  #3655ce 0%,#2747c2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3655ce', endColorstr='#2747c2',GradientType=0 ); /* IE6-9 */
                border-radius: 20px;
                border: 0;
                padding: 2px 15px 15px;
                top: -2px;
                left: -2px;
                @media screen and (max-width: 767px) {
                    top: 100%;
                    margin-top: 20px;
                    left: -5px;
                    &:before {
                        content: "";
                        position: absolute;
                        top: -5px;
                        width: 10px;
                        height: 10px;
                        background-color: #3655ce;
                        transform: rotate(45deg);
                        left: 16px;
                    }
                }
                .user-info {
                    display: flex;
                    align-items: center;
                }
                .user-detail {
                    padding: 10px 10px 10px 20px;
                    * {
                        color: #fff;
                    }
                    h6 {
                        margin-bottom: 0;
                    }
                    p {
                        font-size: 12px;
                        margin: 0;
                    }
                }
                .user-icon {
                    margin-left: 12px;
                    img {
                        width: 23px;
                    }
                }
                .dropdown-item {
                    background-color: transparent !important;
                    color: #fff;
                    padding: 10px 0 0;
                    border-top: 1px solid rgba(255,255,255,.2);
                    img {
                        margin-left: 8px;
                        vertical-align: middle;
                    }
                    span {
                        vertical-align: middle;
                    }
                }
            }
        }
        .usersort-info {
            @media screen and (max-width: 991px) {
                display: none;
            }
        }
    }
}
.usersort-info {
    color: #fff;
    span {
        font-weight: 300;
        font-size: 14px;
    }
    h5 {
        color: #fff;
        margin: 0;
    }
    @media screen and (max-width: 1199px) {
        h5 {
            font-size: 16px;
        }
    }
    @media screen and (max-width: 767px) {
        background: #5077cf; /* Old browsers */
        background: -moz-linear-gradient(-45deg,  #5077cf 0%, #466dc6 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  #5077cf 0%,#466dc6 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(163.45deg, #7CA3F7 -86.15%, #244CA8 175.17%), linear-gradient(144.44deg, #8EB3EB -49.57%, #244CA8 96.36%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5077cf', endColorstr='#466dc6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        padding: 10px 15px;
        box-shadow: 0px 2px 26px rgba(20, 49, 115, 0.03);
        position: absolute;
        left: 0;
        top: 100%;
        right: 0;
    }
}
.sidebar-toggle {
    margin-left: 10px;
    display: none;
    @media (max-width: 767px) {
        display: block;
    }
    span {
        display: block;
        width: 20px;
        height: 2px;
        margin-bottom: 6px;
        position: relative;
        background: #fff;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
            opacity 0.55s ease;
        &:first-child {
            transform-origin: 0% 0%;
            width: 25px;
        }
        &:last-child {
            transform-origin: 0% 100%;
            margin: 0;
            width: 25px;
        }
    }
    &.open {
        span {
            opacity: 1;
            transform: rotate(45deg) translate(0px, 0px);
            background: #fff;
            &:last-child {
                transform: rotate(-45deg) translate(-1px, 1px);
            }
            &:nth-child(2) {
                opacity: 0;
                transform: rotate(0deg) scale(0.2, 0.2);
            }
        }
    }
}