header {
    background: #5077cf; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #5077cf 0%, #466dc6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #5077cf 0%,#466dc6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #5077cf 0%,#466dc6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5077cf', endColorstr='#466dc6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    padding: 10px 30px;
    box-shadow: 0 0 10px rgba(0,0,0,.25);
    a {
        color: #fff;
    }
    .header-dropdown {
        .dropdown-toggle {
            color: #fff;
            border-color: #fff;
            border-radius: 30px;
            background-color: transparent !important;
        }
    }
}