<header>
  <nav class="navbar navbar-expand navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand mr-0" href="#"
        ><img src="assets/images/logo.svg" alt=""
      /></a>
      <h6 class="logo-subtitle">שירות אישי לספק</h6>
      <div class="usersort-info">
          <span>להתנתקלהתנתק</span>
          <h5>יאיר דוחובני כבלים בע״מ ח.פ 511199549</h5>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ml-sm-4">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">להתנתק</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">להתנתקלהתנתק</a>
          </li>
        </ul>
      </div>
    </div>
    <div
      class="sidebar-toggle"
      (click)="sidebarToggleClicked()"
      id="sidebarToggle"
    >
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div ngbDropdown placement="bottom-right" class="header-dropdown">
      <button
        class="btn btn-outline-primary"
        id="dropdownBasic2"
        ngbDropdownToggle
      >
      <i class="bi bi-person"></i> להתנתקלהתנתק <i class="bi bi-chevron-down"></i>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
        <div class="user-info">
            <div class="user-icon">
                <i class="bi bi-person"></i>
            </div>
            <div class="user-detail">
                <h6>להתנתק</h6>
                <p>5111199549 להתנת קלהתנתק להתנ תקלה תנתק</p>
            </div>
        </div>
        <button ngbDropdownItem><i class="bi bi-box-arrow-right"></i> להתנתק </button>
      </div>
    </div>
     
  </nav>
</header>
