.filter-tab {
    box-shadow: 0px 2px 4px rgba(36, 76, 168, 0.0131392);
    @media screen and (max-width: 575px) {
        margin: 0 -15px;
    }
    .nav-item {
        width: 25%;
        .nav-link {
            text-align: center;
            background-color: #fff;
            border-radius: 0;
        }
    }
}
.filter {
    padding-top: 30px;
    @media screen and (max-width: 575px) {
        margin: 0 -15px;
        padding-top: 0;
    }
    .filter-icon {
        padding: 10px 15px;
        float: left;
        position: relative;
        z-index: 1;
        cursor: pointer;
        color:#67809F;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: #FFFFFF;
            border: 1px solid rgba(36, 76, 168, 0.08);
            box-shadow: 0px 4px 16px rgba(15, 36, 84, 0.04);
            border-radius: 27px;
            z-index: -1;
            @media screen and (max-width: 575px) {
                content: normal;
            }
        }
        span {
            @media screen and (max-width: 575px) {
                display: none;
            }
        }
        img {
            margin-right: 10px;
        }
        &.show {
            &::before {
                border-radius: 6px;
                bottom: -15px;
                background-color: #fafafe;
                border-bottom: 0;
                box-shadow: -5px 4px 16px rgba(15, 36, 84, 0.04);
            }
        }
    }
    .search-wrap {
        position: relative;
        max-width: 335px;
        width: 100%;
        @media screen and (max-width: 575px) {
            max-width: 100%;
        }
        input {
            border: 0;
            width: 100%;
            padding: 10px 20px;
            border-radius: 30px;
            box-shadow: 0px 0px 20px rgba(15, 36, 84, 0.0895433);
            &:focus {
                outline: none;
                box-shadow: none;
            }
            @media screen and (max-width: 575px) {
                border-radius: 0px;
                box-shadow: none;
                margin-top: 2px;
            }
        }
        button {
            position: absolute;
            left: 8px;
            top: 8px;
            background-color: transparent;
            border: 0;
        }
    }
}
.search-result {
    margin-top: 40px;
    @media screen and (max-width: 575px) {
        margin-top: 15px;
    }
    h6 {
        color: #647687;
    }
    p {
        font-weight: 700;
    }
}
#filter-option {
    display: none;
    .filter-form {
        background: #FBFBFF;
        border: 1px solid #F2F6F9;
        box-shadow: 0px 2px 4px rgba(36, 76, 168, 0.04);
        border-radius: 6px;
        padding: 30px 30px 20px;
        margin-top: 10px;
    }
    &.filter-open {
        display: block;
    }
}
.asc-desc-order {
    border: 1px solid #FA6500;
    border-radius: 30px;
    overflow: hidden;
    button {
        padding: 10px;
        border: 0;
        background-color: transparent;
        width: 50%;
        text-align: center;
        img {
            margin-right: 5px;
        }
        &.active {
            background: radial-gradient(303.32% 287.68% at 42.95% -78.27%, #FFC264 0%, #F47216 100%), linear-gradient(0deg, #F47216 0%, #FFA464 245.96%);
            background: -moz-radial-gradient(303.32% 287.68% at 42.95% -78.27%, #FFC264 0%, #F47216 100%), linear-gradient(0deg, #F47216 0%, #FFA464 245.96%); /* FF3.6-15 */
            background: -webkit-radial-gradient(303.32% 287.68% at 42.95% -78.27%, #FFC264 0%, #F47216 100%), linear-gradient(0deg, #F47216 0%, #FFA464 245.96%); /* Chrome10-25,Safari5.1-6 */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc264', endColorstr='#f47216',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            font-weight: 700;
        }
    }
}
.filter-footer {
    text-align: left;
    margin: 0 -30px;
    border-top: 1px solid #E6EBF7;
    padding: 20px 30px 0;
}
.alert {
    background: rgba(52, 105, 225, 0.02);
    border: 1px solid rgba(52, 105, 225, 0.1);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    line-height: normal;
    @media screen and (max-width: 575px) {
        padding: 8px 10px;
    }
    img {
        margin-left: 10px;
    }
}
.order-summary {
    ::ng-deep {
        .card {
            margin-bottom: 20px;
            border-radius: 23px;
            border: 0;
            overflow: visible;
            @media screen and (max-width: 991px) {
                border-radius: 10px;
            }
            .card-header {
                background-color: transparent;
                border: 0;
                padding: 0;
                margin: 0;
                .btn {
                    border: 1px solid #DCE7FF;
                    box-shadow: 0px 2px 8px rgba(27, 58, 130, 0.1);
                    background-color: #fff;
                    border-radius: 23px;
                    padding: 0;
                    position: relative;
                    padding-left: 55px;
                    @media screen and (max-width: 991px) {
                        padding-left: 0;
                        border-radius: 10px;
                    }
                    &:focus {
                        box-shadow: none;
                        text-decoration: none;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                    &:after {
                        content: "\f282";
                        font-family: 'bootstrap-icons';
                        position: absolute;
                        left: 20px;
                        top: 50%;
                        -moz-transform: translateY(-50%);
                        -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
                        color: #27303C;
                        @media screen and (max-width: 991px) {
                            -moz-transform: none;
                            -webkit-transform: none;
                            transform: none;
                            top: 30px;
                        }
                    }
                    .order-details {
                        flex-wrap: wrap;
                        display: flex;
                        font-size: 14px;
                        color: #27303C;
                        @media screen and (max-width: 1199px) {
                            font-size: 13px; 
                        }
                        label {
                            font-size: 12px;
                            margin-bottom: 0;
                            color: #566C86;
                            font-weight: 400;
                        }
                        p {
                            margin: 0;
                        }
                        .order-text {
                            width: 32%;
                            display: flex;
                            align-items: center;
                            padding: 8px 30px;
                            background: linear-gradient(147.53deg, rgba(220, 231, 255, 0.7) -4.61%, rgba(144, 178, 252, 0.7) 96.72%);
                            position: relative;
                            border-radius: 0 23px 23px 0;
                            @media screen and (max-width: 1199px) {
                                padding: 8px 15px;
                            }
                            @media screen and (max-width: 991px) {
                                width: 100%;
                                border-radius: 10px 10px 0 0;
                                padding-left: 50px;
                            }
                            &:before {
                                content: "";
                                background-image: url('../../../assets/images/shape1.png');
                                position: absolute;
                                left: 0;
                                top: 0;
                                bottom: 0;
                                width: 49px;
                                background-size: cover;
                                @media screen and (max-width: 991px) {
                                    background-image: url('../../../assets/images/shape2.png');
                                    width: 90px;
                                    border-radius: 10px 0 0 0;
                                }
                            }
                            h6 {
                                font-size: 18px;
                                font-weight: 600;
                                margin: 0;
                            }
                        }
                        .order-desc {
                            width: 31%;
                            padding: 8px 10px;
                            @media screen and (max-width: 1199px) {
                                padding: 8px 5px;
                            }
                            @media screen and (max-width: 991px) {
                                width: 100%;
                            }
                        }
                        .order-status {
                            width: 7%;
                            padding: 8px 10px;
                            @media screen and (max-width: 1199px) {
                                padding: 8px 5px;
                            }
                            @media screen and (max-width: 991px) {
                                width: 25%;
                                padding: 8px 8px;
                            }
                        }
                        .order-value {
                            width: 10%;
                            padding: 8px 10px;
                            @media screen and (max-width: 1199px) {
                                padding: 8px 5px;
                            }
                            @media screen and (max-width: 991px) {
                                width: 25%;
                                padding: 8px 8px;
                            }
                        }
                        .order-currency {
                            width: 8%;
                            padding: 8px 10px;
                            @media screen and (max-width: 1199px) {
                                padding: 8px 5px;
                            }
                            @media screen and (max-width: 991px) {
                                width: 23%;
                                padding: 8px 8px;
                            }
                        }
                        .order-delivery {
                            width: 12%;
                            padding: 8px 10px;
                            @media screen and (max-width: 1199px) {
                                padding: 8px 5px;
                            }
                            @media screen and (max-width: 991px) {
                                width: 27%;
                                padding: 8px 8px;
                            }
                        }
                    }
                    &[aria-expanded="true"] {
                        border-bottom-right-radius: 0;
                        border-bottom-left-radius: 0;
                        border-bottom: 0;
                        border-color: #244CA8;
                        box-shadow: none;
                        &:after {
                            -moz-transform: translateY(-50%) rotate(-180deg);
                            -webkit-transform: translateY(-50%) rotate(-180deg);
                            transform: translateY(-50%) rotate(-180deg);
                            color: #FA6500;
                        }
                        .order-text {
                            background: linear-gradient(163.45deg, #7CA3F7 -86.15%, #244CA8 175.17%);
                            color: #fff;
                        }
                    }
                }
            }
            .card-body {
                border-left: 1px solid #244CA8;
                border-bottom: 1px solid #244CA8;
                border-right: 1px solid #244CA8;
                border-radius: 0 0 23px 23px;
                @media screen and (max-width: 991px) {
                    border-radius: 0 0 10px 10px;
                }
                .order-full-details {
                    display: flex;
                    background: rgba(52, 105, 225, 0.02);
                    border: 1px solid rgba(52, 105, 225, 0.1);
                    border-radius: 10px;
                    padding: 15px 0;
                    flex-wrap: wrap;
                    li {
                        list-style: none;
                        width: 25%;
                        padding: 0 15px;
                        font-size: 14px;
                        label {
                            margin: 0;
                            display: block;
                            font-size: 13px;
                        }
                        a {
                            color: #3469E1;
                            text-decoration: underline;
                            cursor: pointer;
                        }
                        @media screen and (max-width: 991px) {
                            width: 50%;
                            &:first-child {
                                width: 100%;
                                margin-bottom: 20px;
                            }
                        }
                    }
                }
                .order-link {
                    text-align: left;
                    display: block;
                    text-decoration: none;
                    color: #3469E1;
                    span {
                        vertical-align: middle;
                    }
                    i {
                        vertical-align: middle;
                        margin-right: 5px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}