::ng-deep .modal {
  .modal-dialog {
    .modal-content {
      border-radius: 20px;
      border: 0;
      box-shadow: 0px 0px 20px #00000080;
      .modal-header {
        border: 0;
        padding: 0;
        .close {
          margin-left: auto;
          border: 0;
          border-radius: 100%;
          width: 25px;
          font-size: 40px;
          padding: 0;
          line-height: normal;
          position: absolute;
          left: 16px;
          top: 22px;
          z-index: 9;
          color: #ffffff;
          opacity: 1;

          &:focus-visible {
            outline: none;
          }
          i {
            font-size: 22px;
            color: #ffffff;
            @media screen and (max-width: 575px) {
            }
            font-size: 20px;
          }
        }
      }
      .modal-body {
        padding: 62px;
        border-radius: 0 0 20px 20px;
        @media screen and (max-width: 575px) {
          padding: 62px 15px;
        }
        @media screen and (min-width: 576px) and (max-width: 1920px) {
          background-image: url("../../../assets/images/bg-image.png");
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
    }
  }
  .modal-md {
    max-width: 600px;
  }
}
