<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="signup">
                <div class="heading">
                    <h4 class="title text-center mb-5">
                        רישום לאתר לספקי אגף הרכש
                    </h4>
                    <p class="sub-title text-right">
                        אם אינך רשום במאגר הספקים הפוטנציאליים של חברת החשמל, עליך <a href=""> להירשם ביחידה לקשרי
                            ספקים</a>
                    </p>
                </div>
                <div class="information">
                    <h4 class="text-right mb-3"> פרטי החברה</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="*שם החברה" name="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="*שם החברה" name="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="*שם החברה" name="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="*שם החברה" name="">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="information">
                    <h4 class="text-right mb-3"> פרטי התקשרות</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="*שם החברה" name="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="*שם החברה" name="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="*שם החברה" name="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="*שם החברה" name="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="*שם החברה" name="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="*שם החברה" name="">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <input type="checkbox" id="box" name="box" value="box">
                                <label for="box">רישום זה מהווה הסכמה לקבלת מסרים אלקטרונים מטעם חברת החשמל לישראל
                                    בע"מ</label>
                            </div>
                            <div>
                                <input type="checkbox" id="box1" name="box1" value="box">
                                <label for="box1">רישום זה מהווה הסכמה לקבלת מסרים אלקטרונים מטעם חברת החשמל לישראל
                                    בע"מ</label>
                            </div>
                            <div class="d-flex flex-wrap justify-content-between mt-5">
                                <p class="my-auto">להנחייה במילוי הטופס ניתן לפנות לאיש הקשר שלך בחברת החשמל</p>
                                <button type="button" class="btn btn-primary">שלח</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>