<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="signup">
                <div class="heading">
                    <h4 class="title text-center mb-5">
                        רישום לאתר לספקי אגף הרכש
                    </h4>
                    <p class="sub-title text-right">
                        אם אינך רשום במאגר הספקים הפוטנציאליים של חברת החשמל, עליך <a href=""> להירשם ביחידה לקשרי
                            ספקים</a>
                    </p>
                </div>
                <div class="information">
                    <h4 class="text-right"> פרטי החברה</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="w-100">
                                    <div class="field-container">
                                        <input class="field-input" id="inputid" name="inputName" type="text"
                                            placeholder="*שם החברה">
                                        <label class="field-placeholder" for="inputName">*שם החברה</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="w-100">
                                    <div class="field-container">
                                        <input class="field-input" id="inputid" name="inputName" type="text"
                                            placeholder="*מספר עוסק מורשה">
                                        <label class="field-placeholder" for="inputName">*מספר עוסק מורשה</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="w-100">
                                    <div class="field-container">
                                        <input class="field-input" id="inputid" name="inputName" type="text"
                                            placeholder="*מספר חברה פרטית (ח.פ)">
                                        <label class="field-placeholder" for="inputName">*מספר חברה פרטית (ח.פ)(</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="w-100">
                                    <div class="field-container">
                                        <input class="field-input" id="inputid" name="inputName" type="text"
                                            placeholder="*מספר ספק">
                                        <label class="field-placeholder" for="inputName">*מספר ספק</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="information">
                    <h4 class="text-right"> פרטי התקשרות</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="w-100">
                                    <div class="field-container">
                                        <input class="field-input" id="inputid" name="inputName" type="text"
                                            placeholder="*שם פרטי">
                                        <label class="field-placeholder" for="inputName">*שם פרטי</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="w-100">
                                    <div class="field-container">
                                        <input class="field-input" id="inputid" name="inputName" type="text"
                                            placeholder="*שם משפחה">
                                        <label class="field-placeholder" for="inputName">*שם משפחה</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="w-100">
                                    <div class="field-container">
                                        <input class="field-input" id="inputid" name="inputName" type="text"
                                            placeholder="*תפקיד בחברה">
                                        <label class="field-placeholder" for="inputName">*תפקיד בחברה</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="w-100">
                                    <div class="field-container">
                                        <input class="field-input" id="inputid" name="inputName" type="text"
                                            placeholder="*טלפון נייד">
                                        <label class="field-placeholder" for="inputName">*טלפון נייד</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="w-100">
                                    <div class="field-container">
                                        <input class="field-input" id="inputid" name="inputName" type="text"
                                            placeholder="*טלפון">
                                        <label class="field-placeholder" for="inputName">*טלפון</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="w-100">
                                    <div class="field-container">
                                        <input class="field-input" id="inputid" name="inputName" type="text"
                                            placeholder="*דוא״ל">
                                        <label class="field-placeholder" for="inputName">*דוא״ל</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="checkbox-group d-flex mb-0">
                                <input type="checkbox" id="box">
                                <label for="box"></label>
                                <p class="contant color-theme mb-0">רישום זה מהווה הסכמה לקבלת מסרים אלקטרונים
                                    מטעם חברת החשמל לישראל בע"מ.</p>
                            </div>
                            <div class="checkbox-group d-flex mb-0">
                                <input type="checkbox" id="box1">
                                <label for="box1"></label>
                                <p class="contant label mb-0">סימון זה מאשר קריאה והבעת הסכמה לתנאים הרשומים כאן</p>
                            </div>
                            <div class="signup-footer d-flex flex-wrap justify-content-between mt-5">
                                <p class="my-auto color-theme ft-12">להנחייה במילוי הטופס ניתן לפנות לאיש הקשר שלך בחברת החשמל
                                </p>
                                <button type="button" class="btn btn-primary">שלח</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>